@font-face {
  font-family: OpenSans;
  src: url("../src/fonts/OpenSans-Regular.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.Container {
  box-sizing: border-box;
  padding: 5% 10% 10% 10%;
  border: 1px solid #cccccc;
  width: 50%;
  position: absolute;
  top: 12%;
  left: 25%;
}

h1 {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center;
  color: #044c8c;
}

img {
  display: block;
  padding: 10% 10% 2% 10%;
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-align: center;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #044c8c;
}

p {
  text-align: center;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #044c8c;
  padding: 5%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
  font-family: OpenSans;
  font-size: 16px;
  border-style: none;
  border-bottom: 1px solid #fd5f00;
  text-align: center;
}
